article.w-475 {
    h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0 15px 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .thumbnail {
        img {
            width: 475px;
            height: 240px;
        }
    }
    .info {
        padding: 1rem;
        .info1, .info2{
            display: flex;
            justify-content: space-between;
        }
    }
}