$thumbnail-width: 150;
$margin-right: 15;

article.art-thumb-left {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    .thumbnail {
        width: #{$thumbnail-width}px;
        margin-right: #{$margin-right}px;
        img {
            width: 150px;
            height: 100px;
            border-radius: 5px;
        }
    }
    .info {
        width: calc(100% - #{$thumbnail-width + $margin-right}px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h4 {
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}