@use 'article475';
@use 'article185';
@use 'article_art3';
@use 'article_thumb_left';
@use 'box_comment';
@use 'footer';
@use 'notification';

@keyframes animateBottom {
    0% {
        top: 100vh;
    }
    100% {
        top: 0;
    }
}

@keyframes animateTop {
    0% {
        bottom: 100vh;
    }
    100% {
        bottom: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button {
    &:focus {
        outline: none;
    }
}

$main-color :  #D10000;
$yellow-color :  #fdbe21;

.loader-center {
    text-align: -webkit-center;
    .loader {
        border: 10px solid #f3f3f3; /* Light grey */
        border-top: 10px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 2s linear infinite;
    }
}

.icon-trend {
    width: 22px;
    height: 15px;
    background-image: url(../img/icon/icon-trend.png);
}

.icon-nearby {
    width: 22px;
    height: 15px;
    background-image: url(../img/icon/icon-nearby.png);
}

.icon-hot {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-hot.svg);
}

.icon-suggest {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-suggest.svg);
}

.icon-facebook {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-facebook.svg);
}

.icon-instagram {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-instagram.svg);
}

.icon-youtube {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-youtube.svg);
}

.icon-mail {
    width: 22px;
    height: 22px;
    background-image: url(../img/icon/icon-mail.svg);
}

.icon-back {
    width: 21px;
    height: 21px;
    background-image: url(../img/icon/icon-back.svg);
}

.icon-google {
    width: 21px;
    height: 21px;
    background-image: url(../img/icon/icon-google.png);
}

.icon-close-popup {
    width: 41px;
    height: 41px;
    background-image: url(../img/icon/icon-close-popup.svg);
}

.icon-pin {
    width: 35px;
    height: 35px;
    background-image: url(../img/icon/icon-pin.svg);
}

.icon-exit {
    width: 35px;
    height: 35px;
    background-image: url(../img/icon/icon-exit.svg);
}

img {
    max-width: 100%;
}

.btn-red {
    background-color: $main-color;
}

.btn-yellow {
    background-color: $yellow-color;
}

section {
    padding: 20px 0;
}

.section-slider {
    overflow: hidden;
}

.header {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(270.31deg, #7C0202 0.43%, #B90603 52.54%, #D10000 99.65%);
    h1 {
        margin-bottom: 0;
        font-size: 1rem;
        .logo {
            display: block;
            padding: 12.5px;
            width: 110px;
        }
    }
}

.btn-more-down {
    width: 75px;
    height: 75px;
    display: block;
    margin: 25px auto;
    background: url(../img/icon/icon-down.svg) center no-repeat;
    border: none;
    transition: 0.2s;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tool-top {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 999;
}

.border-1 {
    display: block;
    border-bottom: 3px solid #aeaeae;
}

.border-2 {
    display: block;
    border-bottom: 1px dashed #aeaeae;
}

.list-tool {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    box-shadow: 0px 3px 7px rgba(209, 209, 209, 0.25);
    li a {
        padding: 12px 16px;
        color: #000000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        display: block;
        i {
            margin-top: -5px;
            margin-right: 1px;
        }
    }
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
    .btn-news {
        margin-right: 8%;
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 15px;
        background: #F1F1F1;
        color: #000000;
        font-size: 12px;
        display: inline-block;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }
    .btn-mail {
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 15px;
        background: #fdbe21;
        color: #000000;
        font-size: 12px;
        display: inline-block;
        i {
            margin-bottom: 3px;
            margin-right: 3px;
        }
    }

    .btn-myProducts {
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 20px;
        border-radius: 15px;
        background: #fdbe21;
        color: #000000;
        font-size: 12px;
        display: inline-block;
        i {
            margin-bottom: 3px;
            margin-right: 3px;
        }
    }

    .btn-menu {
        margin-left: auto;
        height: 30px;
        width: 24px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-indent: -999px;
        &:before {
            transition: all 0.3s ease;
            position: absolute;
            top: 20px;
            right: 0;
            display: block;
            height: 2px;
            width: 17px;
            background: #000000;
            content: "";
        }
        &:after {
            transition: all 0.3s ease;
            position: absolute;
            top: 6px;
            right: 0;
            display: block;
            height: 9px;
            width: 24px;
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            content: "";
        }
    }
}

.modal {
    .modal-dialog {
            margin: 0px;
    }
    .modal-content {
        padding-bottom: 60px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        min-height: 100vh;
        border: none;
        .modal-header {
            position: sticky;
            top: 0;
            background: #ffffff;
            border-bottom: 0;
            z-index: 999;
        }
        .modal-body {
            max-height: calc(100vh - 133px);
            overflow-y: scroll !important;
            label {
                color: #000000;
                font-size: 12px;
                font-weight: 700;
            }
            .file-container {
                display: block;
                position: relative;
                height: 30px;
                span {
                    position: absolute;
                    width: 100%;
                    height: 30px;
                    left: 0;
                    top: 0;
                    background: #FDC022;
                    line-height: 30px;
                    z-index: 1;
                    text-align: center;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
            input, textarea {
                display: block;
                width: 100%;
                background: #f5f5f5;
                border-radius: 5px;
                border: none;
                height: 30px;
                padding: 3px 10px;
            }
            textarea {
                min-height: 89px;
            }
            .btnSendNews {
                background: #FDC022;
                color: #000000;
                font-size: 18px;
                font-weight: 700;
                padding: 6px 54px;
                -webkit-border-radius: 22px;
                -moz-border-radius: 22px;
                border-radius: 22px;
                border: none;
            }
        }
        .modal__menu {
            list-style: none;
            padding-left: 7px;
            li {
                padding: 5px 0;
                span {
                    overflow: hidden;
                    font-size: medium;
                }
            }
        }
        .title-list {
            padding: 12px 0;
            img {
                height: 30px;
            }
        }
    }
    .animate-bottom {
        position: relative;
        animation: animateBottom 0.5s;
    }
    .animate-top {
        position: relative;
        animation: animateTop 0.5s;
    }
}

.title-2 {
    padding: 12px 0;
    position: relative;
    &:before {
        content: "";
        left: 40px;
        right: 15px;
        position: absolute;
        height: 1px;
        background: #000000;
        top: 30px;
    }
    h3 {
        position: relative;
        background: #ffffff;
        display: inline-block;
        padding-right: 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
}

.list-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    color: $yellow-color;
}

article a {
    color: #0b0e11;
}

span.note {
    font-style: italic;
}

.file-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .file-catcher {
        margin: 5px;
        border: 1px solid;
        position: relative;
        img {
            background-size: cover !important;
            background-position: center !important;
            width: 100px;
            height: 75px;
            position: relative;
        }
        span.close-file-preview {
            position: absolute;
            margin-left: -20px;
            color: #F54337;
        }
    }
}

// detail

.tab-content.container {
    padding-top: 15px;
}

div.ReactModalPortal {
    position: fixed;
    z-index: 1051;
}

#reportModal {
    .report-content {
        margin-bottom: 10px;
    }
    img {
        height: 140px;
    }
}

#writeReportModal, #reportModal {
    label {
        font-size: 1rem;
    }
    .text-center {
        text-align: -webkit-center;
    }
    .vote-detail {
        display: flex;
        flex-direction: row;
        ul.rate-star {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-top: -2px;
            width: 70%;
            li {
                color: #F54337;
            }
        }
        span {
            font-size: 13px;
            font-weight: 500;
            width: 30%;
        }
    }
    .file-preview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .file-catcher {
            margin: 5px;
            border: 1px solid;
            position: relative;
            img {
                background-size: cover !important;
                background-position: center !important;
                width: 100px;
                height: 75px;
                position: relative;
            }
            span.close-file-preview {
                position: absolute;
                margin-left: -20px;
                color: #F54337;
            }
        }
    }
}
.btn-like {
    position: fixed;
    bottom: 40%;
    right: 3vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 999;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
}
.btn-dislike {
    position: fixed;
    bottom: calc(40% - 65px);
    right: 3vw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 999;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(239, 239, 239);
    &:focus {
        outline: none;
    }
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-right: 20px;
    .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: $main-color;
        color: white;
    }
    .bell-icon {
        color: $yellow-color;
    }
}