@keyframes animateBottom {
    0% {
        top: 100vh;
    }
    100% {
        top: 0;
    }
}

img {
    max-width: 100%;
}

section {
    padding: 20px 0;
}

.section-slider {
    overflow: hidden;
}

.header {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(270.31deg, #7C0202 0.43%, #B90603 52.54%, #D10000 99.65%);
    h1 {
        margin-bottom: 0;
        font-size: 1rem;
        .logo {
            display: block;
            padding: 12.5px;
            width: 110px;
        }
    }
}

.txtarea-comment {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 40px;
    height: 40px;
    padding: 9px 15px;
    font-size: 14px;
    -webkit-transition: 0.2s;
    position: relative;
    transition: 0.2s;
    resize: none;
}

.btn-more-down {
    width: 75px;
    height: 75px;
    display: block;
    margin: 25px auto;
    background: url(../img/icon/icon-down.svg) center no-repeat;
    border: none;
    transition: 0.2s;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-trend {
    width: 22px;
    height: 15px;
    background-image: url(../img/icon/icon-trend.png);
}

.icon-hot {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-hot.svg);
}

.icon-suggest {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/icon-suggest.svg);
}

.icon-facebook {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-facebook.svg);
}

.icon-instagram {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-instagram.svg);
}

.icon-youtube {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/icon-youtube.svg);
}

.icon-mail {
    width: 22px;
    height: 22px;
    background-image: url(../img/icon/icon-mail.svg);
}

.icon-back {
    width: 21px;
    height: 21px;
    background-image: url(../img/icon/icon-back.svg);
}

.icon-close-popup {
    width: 41px;
    height: 41px;
    background-image: url(../img/icon/icon-close-popup.svg);
}

.tool-top {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 999;
}

.border-1 {
    display: block;
    border-bottom: 3px solid #aeaeae;
}

.border-2 {
    display: block;
    border-bottom: 1px dashed #aeaeae;
}

.list-tool {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    box-shadow: 0px 3px 7px rgba(209, 209, 209, 0.25);
    li a {
        padding: 12px 16px;
        color: #000000;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        display: block;
        i {
            margin-top: -5px;
            margin-right: 1px;
        }
    }
}

article.w-475 {
    h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 15px 0 15px 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}

article.w-185 {
    h2 {
        font-size: 14px;
        font-weight: bold;
        padding: 15px 0 0 0;
        margin-bottom: 0;
        border-bottom: none;
    }
    .thumbnail {
        width: 185px;
    }
}

.footer {
    border-top: 5px solid #ED1C24;
    font-size: 12px;
    color: #000000;
    padding-bottom: 60px;
    .list-logo {
        text-align: center;
        list-style: none;
        li {
            display: inline-block;
        }
    }
    .logo-footer {
        display: block;
        width: 133px;
        margin: 10px auto;
    }
    .list-social {
        margin-bottom: 15px;
        border-bottom: 1px dashed #C1C1C1;
        margin-top: 0px;
        list-style: none;
        padding: 5px 10px;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 10px;
            height: 38px;
            line-height: 36px;
        }
    }
    dl dd a {
        color: #000000;
    }
    .btn-price-ads {
        margin-bottom: 5px;
        box-shadow: 2px 2px 5px #aaa;
        height: 24px;
        line-height: 24px;
        padding: 0 20px;
        font-weight: bold;
        color: #ffffff;
        background: linear-gradient(180deg, #DC0A09 0%, #A70409 100%);
        border-radius: 12px;
        display: inline-block;
    }
    .bottom-footer {
        margin-top: 10px;
        background: rgba(0, 0, 0, 0.16);
        text-align: center;
        address {
            margin-bottom: 0;
            border-bottom: 1px solid #fff;
            padding: 15px;
            margin-left: -15px;
            margin-right: -15px;
            color: #4B4A4A;
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 15px;
    display: flex;
    z-index: 9999;
    box-shadow: 1px 4px 15px rgba(114, 114, 114, 0.25);
    .btn-news {
        margin-right: 8%;
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 15px;
        background: #F1F1F1;
        color: #000000;
        font-size: 12px;
        display: inline-block;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }
    .btn-mail {
        font-weight: bold;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 15px;
        background: #fdbe21;
        color: #000000;
        font-size: 12px;
        display: inline-block;
        i {
            margin-bottom: 3px;
            margin-right: 3px;
        }
    }
    .btn-menu {
        margin-left: auto;
        height: 30px;
        width: 24px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-indent: -999px;
        &:before {
            transition: all 0.3s ease;
            position: absolute;
            top: 20px;
            right: 0;
            display: block;
            height: 2px;
            width: 17px;
            background: #000000;
            content: "";
        }
        &:after {
            transition: all 0.3s ease;
            position: absolute;
            top: 6px;
            right: 0;
            display: block;
            height: 9px;
            width: 24px;
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            content: "";
        }
    }
}

article.art-3 {
    h3 {
        font-size: 20px;
        a {
            color: #000000;
            font-weight: bold;
        }
    }
    .outer-time {
        display: flex;
        margin-bottom: 10px;
        margin-top: 12px;
        .category {
            font-size: 10px;
            color: #B0B0B0;
            margin-right: 10px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .outer-thumb {
        position: relative;
        .thumbs {
            display: block;
            position: relative;
        }
    }
    .slide-tags {
        padding: 11px 0;
        margin-bottom: 11px;
        padding-left: 0;
        overflow: hidden;
        border-bottom: 1px dashed #8F8F8F;
        .slide-tags-item {
            font-size: 12px;
            padding: 0px 5px;
            margin-right: 20px;
            height: 32px;
            line-height: 32px;
            color: #8A0101;
            font-weight: 500;
            background: #E7E7E7;
            border-radius: 30px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
            }
            a {
                color: #000000;
                line-height: 30px;
                padding: 0 10px;
            }
        }
    }
}

.form-group {
    margin-bottom: 7px;
    position: relative;
}
textarea {
    background: #F5F5F5;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    min-height: 40px;
    height: 40px;
    padding: 9px 15px;
    font-size: 14px;
    transition: 0.2s;
    resize: none;
    display: block;
    width: 100%;
}

.more-comment {
    font-weight: 500;
    font-size: 11px;
    color: #000F91;
    margin-bottom: 10px;
    display: inline-block;
}

.wrapper-comment {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding-left: 0;
    .comment {
        list-style: none;
        display: flex;
        margin-top: 7px;
        margin-bottom: 10px;
        .comment-avatar {
            width: 36px;
            height: 36px;
            background: black;
            color: #ffffff;
            display: inline-block;
            font-weight: 700;
            font-size: 15px;
            line-height: 36px;
            text-align: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin-right: 5px;
        }
        .comment-media {
            flex: 1;
            .comment-content {
                min-height: 36px;
                background: #F5F5F5;
                border-radius: 18px;
                padding: 6px 12px;
                .comment-name {
                    font-weight: 700;
                    font-size: 14px;
                    color: #041B71;
                    display: block;
                    margin-right: 5px;
                }
                .comment-text {
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    pre {
                        font-family: "Roboto", sans-serif;
                        display: inline-block;
                        overflow: hidden;
                        margin-top: 0;
                        white-space: pre-line;
                        color: #333;
                        text-overflow: ellipsis;
                        margin-bottom: 0;
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

.modal {
    .detail-comment {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 15px;
        -webkit-box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
        box-shadow: 0px 3px 0px rgba(203, 203, 203, 0.25);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 0;
        margin: 0;
    }
    .modal-dialog {
            margin: 0px;
    }
    .modal-content {
        padding-bottom: 60px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        min-height: 100vh;
        border: none;
        .modal__menu {
            list-style: none;
            padding-left: 7px;
            li {
                padding: 17px 0;
                span {
                    display: inline-block;
                    overflow: hidden;
                    text-indent: -9999px;
                }
            }
        }
        .title-list {
            padding: 12px 0;
            img {
                height: 30px;
            }
        }
    }
    .animate-bottom {
        position: relative;
        animation: animateBottom 0.3s;
    }
}

// detail page
.tab-content.container {
    padding-top: 15px;
}