version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ttd:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/logs:/var/log/nginx
      - ./nginx/certs/nginx-selfsigned.crt:/etc/ssl/certs/nginx-selfsigned.crt
      - ./nginx/certs/nginx-selfsigned.key:/etc/ssl/private/nginx-selfsigned.key
    links:
      - php
      - mysql
    networks:
      - app-network

  php:
    image: php74-fpm:2.0
    container_name: php
    ports:
      - "9000:9000"
    working_dir: /var/www/html
    volumes:
      - ./ttd:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/conf.d/php.ini-development
      - ./php/php.ini:/usr/local/etc/php/conf.d/php.ini-production
      - ./php/php.ini:/usr/local/etc/php/conf.d/php.ini
    links:
      - mysql
    networks:
      - app-network

  mysql:
    container_name: mysql
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'thanhdanpc'
    volumes:
      - ./mysql/data:/var/lib/mysql
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
