<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Slick Css -->
    <link rel="stylesheet" href="assets/slick/slick.css">
    <link rel="stylesheet" href="assets/slick/slick-theme.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header class="header d-flex justify-content-between">
        <h1>
            <a class="logo" href="#">
                <img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/logo.svg" alt="">
            </a>
        </h1>
        <button class="btn btn-search text-light" type="button" data-toggle="modal" data-target="#searchModal">
            <i class="fas fa-search"></i>
        </button>
    </header>

    <section class="tool-top">
        <ul class="list-tool d-flex justify-content-around">
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalPropensity">
                    <i class="icon icon-trend"></i> Xu hướng
                </a>
            </li>
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalMostView">
                    <i class="icon icon-hot"></i> Nổi bật
                </a>
            </li>
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalOffer">
                    <i class="icon icon-suggest"></i> Đề xuất
                </a>
            </li>
        </ul>
    </section>

    <section class="priority">
        <article class="w-475">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                </div>
            </div>
        </article>
    </section>
    <span class="border-1"></span>
    <section class="slider section-slider">
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/biem-hoa-my-nuong-ly-di-son-tinh-thuy-tinh-1592369507-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
    </section>
    <span class="border-2"></span>
    <footer class="footer">
        <div class="container">
            <div class="text-center mt-3">
                <h5 class="text-uppercase mb-0" style="font-weight: 700;">Tuổi trẻ cười online</h5>
                <ul class="list-logo p-0" style="border-bottom: none;">
                    <li><a href="https://tuoitre.vn/" title="Tin tức, tin nóng, đọc báo điện tử - Tuổi Trẻ Online"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-tto.svg" alt=""></a></li>
                    <li><a href="https://cuoituan.tuoitre.vn/"
                            title="Báo Chí - Tạp Chí - Đọc Báo - Tuổi Trẻ Cuối Tuần - TTO"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-ttct.svg" alt=""></a></li>
                    <li><a href="https://tv.tuoitre.vn/"
                            title="Video tin tức, video tin nóng - Tuổi Trẻ Video Online"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-tttivi.svg" alt=""></a></li>
                </ul>
            </div>
            <a class="logo-footer" href="/" title="Tuổi Trẻ Cười"><img
                    src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/logo-footer.svg" alt=""></a>
            <ul class="list-social">
                <li><a href="https://www.facebook.com/tuoitrecuoi/" title="Tuổi Trẻ Cười"><i
                            class="icon icon-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/tuoitrecuoi.official/" title="Tuổi Trẻ Cười"><i
                            class="icon icon-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCuZFuykrlN9GUhobrTvP0Bg/videos" title="Tuổi Trẻ Cười"><i
                            class="icon icon-youtube"></i></a></li>
            </ul>
            <dl>
                <dt>HỢP TÁC NỘI DUNG</dt>
                <dd><a href="mailto:cuoi@tuoitre.com.vn"><i class="fas fa-envelope"></i> cuoi@tuoitre.com.vn</a></dd>
            </dl>
            <dl>
                <dt>ĐƯỜNG DÂY NÓNG</dt>
                <dd><a href="tel:0918033133"><i class="fas fa-phone"></i> <strong>0918.033.133 </strong></a>
                </dd>
                <dd><a href="tel:02838440538"><i class="fas fa-phone-square"></i> (84.28) <strong>
                            38.440.538</strong></a></dd>
            </dl>
            <dl>
                <dt>LIÊN HỆ QUẢNG CÁO</dt>
                <dd><a href="tel:0963020919"><i class="fas fa-phone"></i> <strong>0963.0209.19</strong></a>
                </dd>
                <dd><a href="mailto:cuoi@tuoitre.com.vn"><i class="fas fa-envelope"></i>
                        sales.cuoi@tuoitre.com.vn</a>
                </dd>
            </dl>
            <a class="btn-price-ads" href="#" title="">Bảng giá quảng cáo</a>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <address>
                    Số 60A, Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh, Việt Nam
                </address>
                <p>© Copyright 2019 TuoiTreCuoi Online, All rights reserved <br> ® Tuổi Trẻ Cuoi Online giữ bản quyền
                    nội dung trên website này</p>

            </div>

        </div>
    </footer>
    <div class="bottom-bar">
        <a class="btn-news" href="javascript:void(0)" data-toggle="modal" data-target="#contentModal2">Tin Mới Nhất<i
                class="icon icon-back"></i></a>
        <a class="btn-mail" data-toggle="modal" data-target="#sendNewsModal" href="#"><i class="icon icon-mail"></i> Gửi
            tin</a>
        <a class="btn-menu" data-toggle="modal" data-target="#menuModal" href="#" title="">Menu</a>
    </div>
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Tìm kiếm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <label for="inputName">Lọc theo tên:</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter name" id="inputName">
                        </div>
                        <div class="list-services">
                            <label>Chọn dịch vụ</label>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="services1" name="service1">
                                <label class="custom-control-label" for="services1">services1</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="services2" name="service2">
                                <label class="custom-control-label" for="services2">services2</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="services3" name="service3">
                                <label class="custom-control-label" for="services3">services3</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category">Chọn quận/huyện:</label>
                            <select class="form-control" id="category">
                                <option value="all">--Tất cả--</option>
                                <option>Gò Vấp</option>
                                <option>Phú Nhuận</option>
                                <option>Thủ Đức</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade animate" id="contentModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content animate-bottom">
                <div class="modal-header">
                    <h4 class="modal-title"> Tin Mới Nhất</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="icon icon-close-popup"></i></button>
                </div>
                <div class="modal-body mt-3">
                    <article class="art-3 mb-4">
                        <h3><a href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html"
                                title="">Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19</a></h3>
                        <div class="outer-time">
                            <a class="category" href="/tin-tuc">Tin ...Tức Cười</a>
                        </div>
                        <div class="outer-thumb">
                            <a class="thumbs"
                                href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html">
                                <img class="lazyload"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/sung-dai-hay-ky-thuat-1592471751-16x9.jpg"
                                    alt="Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19">
                            </a>
                        </div>
                        <div class="p-3">
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                                <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                                <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <ul class="slide-tags">
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/06/ezlaimixyae8vbd-1591419542-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/an-do-2082.html"> #ấn độ</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/05/28/cau-be-khoc-vi-duoc-an-ga-ran-sau-hai-thang-cach-ly-1590652251-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/cach-ly-6957.html"> #cách ly</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/13/thieu-mau-1592059344-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/covid19-7492.html"> #covid-19</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/03/13/cach-li-1584068298-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/benh-vien-da-chien-9171.html"> #bệnh viện dã chiến</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/18/cach-ly-lon-nhat-the-gioi-1592473350-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/lon-nhat-the-gioi-14561.html"> #lớn nhất thế giới</a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="more-comment">Xem thêm 2  bình luận</a>
                        <ul class="wrapper-comment cm-wrap">
                            <div class="comment" data-id="76781" style="animation-delay: 0s">
                                <span class="comment-avatar" style="background-color: #172b4d">V</span>
                                <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                                    <div class="comment-content">
                                        <span class="comment-name">
                                            Vikinh
                                        </span>
                                        <span class="comment-text">
                                            <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </ul>
                        <div class="detail-comment mt-3">
                            <div class="form-group">
                                <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </article>
                    <article class="art-3 mb-4">
                        <h3><a href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html"
                                title="">Giới trẻ rộ mốt 'chuyển giới' qua app, tái sinh trào lưu một thời</a></h3>
                        <div class="outer-time">
                            <a class="category" href="/tin-tuc">Tin ...Tức Cười</a>
                        </div>
                        <div class="outer-thumb">
                            <a class="thumbs"
                                href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html">
                                <img class="lazyload"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/faceapp05-1592475659-16x9.jpg"
                                    alt="Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19">
                            </a>
                        </div>
                        <div class="p-3">
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                                <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                                <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <ul class="slide-tags">
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/06/ezlaimixyae8vbd-1591419542-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/an-do-2082.html"> #ấn độ</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/05/28/cau-be-khoc-vi-duoc-an-ga-ran-sau-hai-thang-cach-ly-1590652251-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/cach-ly-6957.html"> #cách ly</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/13/thieu-mau-1592059344-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/covid19-7492.html"> #covid-19</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/03/13/cach-li-1584068298-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/benh-vien-da-chien-9171.html"> #bệnh viện dã chiến</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/18/cach-ly-lon-nhat-the-gioi-1592473350-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/lon-nhat-the-gioi-14561.html"> #lớn nhất thế giới</a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="more-comment">Xem thêm 2  bình luận</a>
                        <ul class="wrapper-comment cm-wrap">
                            <div class="comment" data-id="76781" style="animation-delay: 0s">
                                <span class="comment-avatar" style="background-color: #172b4d">V</span>
                                <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                                    <div class="comment-content">
                                        <span class="comment-name">
                                            Vikinh
                                        </span>
                                        <span class="comment-text">
                                            <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </ul>
                        <div class="detail-comment mt-3">
                            <div class="form-group">
                                <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </article>
                    <article class="art-3 mb-4">
                        <h3><a href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html"
                                title="">Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19</a></h3>
                        <div class="outer-time">
                            <a class="category" href="/tin-tuc">Tin ...Tức Cười</a>
                        </div>
                        <div class="outer-thumb">
                            <a class="thumbs"
                                href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html">
                                <img class="lazyload"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/sung-dai-hay-ky-thuat-1592471751-16x9.jpg"
                                    alt="Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19">
                            </a>
                        </div>
                        <div class="p-3">
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                                <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                                <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <ul class="slide-tags">
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/06/ezlaimixyae8vbd-1591419542-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/an-do-2082.html"> #ấn độ</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/05/28/cau-be-khoc-vi-duoc-an-ga-ran-sau-hai-thang-cach-ly-1590652251-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/cach-ly-6957.html"> #cách ly</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/13/thieu-mau-1592059344-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/covid19-7492.html"> #covid-19</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/03/13/cach-li-1584068298-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/benh-vien-da-chien-9171.html"> #bệnh viện dã chiến</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/18/cach-ly-lon-nhat-the-gioi-1592473350-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/lon-nhat-the-gioi-14561.html"> #lớn nhất thế giới</a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="more-comment">Xem thêm 2  bình luận</a>
                        <ul class="wrapper-comment cm-wrap">
                            <div class="comment" data-id="76781" style="animation-delay: 0s">
                                <span class="comment-avatar" style="background-color: #172b4d">V</span>
                                <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                                    <div class="comment-content">
                                        <span class="comment-name">
                                            Vikinh
                                        </span>
                                        <span class="comment-text">
                                            <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </ul>
                        <div class="detail-comment mt-3">
                            <div class="form-group">
                                <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </article>
                    <article class="art-3 mb-4">
                        <h3><a href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html"
                                title="">Giới trẻ rộ mốt 'chuyển giới' qua app, tái sinh trào lưu một thời</a></h3>
                        <div class="outer-time">
                            <a class="category" href="/tin-tuc">Tin ...Tức Cười</a>
                        </div>
                        <div class="outer-thumb">
                            <a class="thumbs"
                                href="/tin-tuc/an-do-xay-benh-vien-da-chien-lon-nhat-the-gioi-chong-covid19-2020061820172715.html">
                                <img class="lazyload"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/faceapp05-1592475659-16x9.jpg"
                                    alt="Ấn Độ xây bệnh viện dã chiến lớn nhất thế giới chống Covid-19">
                            </a>
                        </div>
                        <div class="p-3">
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                                <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                                <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <ul class="slide-tags">
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/06/ezlaimixyae8vbd-1591419542-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/an-do-2082.html"> #ấn độ</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/05/28/cau-be-khoc-vi-duoc-an-ga-ran-sau-hai-thang-cach-ly-1590652251-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/cach-ly-6957.html"> #cách ly</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/13/thieu-mau-1592059344-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/covid19-7492.html"> #covid-19</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/03/13/cach-li-1584068298-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/benh-vien-da-chien-9171.html"> #bệnh viện dã chiến</a>
                            </li>
                            <li class="slide-tags-item">
                                <img src="https://cuoifly.tuoitre.vn/60/0/ttc/r/2020/06/18/cach-ly-lon-nhat-the-gioi-1592473350-16x9.jpg>"
                                    alt="">
                                <a href="/chu-de/lon-nhat-the-gioi-14561.html"> #lớn nhất thế giới</a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="more-comment">Xem thêm 2  bình luận</a>
                        <ul class="wrapper-comment cm-wrap">
                            <div class="comment" data-id="76781" style="animation-delay: 0s">
                                <span class="comment-avatar" style="background-color: #172b4d">V</span>
                                <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                                    <div class="comment-content">
                                        <span class="comment-name">
                                            Vikinh
                                        </span>
                                        <span class="comment-text">
                                            <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </ul>
                        <div class="detail-comment mt-3">
                            <div class="form-group">
                                <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </article>
                    <button class="btn-more-down" style="background-size: 55px;"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="menuModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content animate-bottom"> <!-- class gọi animation nè -->
                <div class="modal-header">
                    <h4 class="modal-title"> Chuyên mục</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close-popup"></i></button>
                </div>
                <div class="modal-body">
                    <ul class="modal__menu title-list">
                                                <li>
                           <a href="/tin-tuc"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-tintuccuoi.svg" alt=""><span>Tin... Tức Cười</span></a>                        </li>
                                                <li>
                           <a href="/biem-hoa"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-biemhoa.svg" alt=""><span>Biếm Họa</span></a>                        </li>
                                                <li>
                           <a href="/video"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-video.svg" alt=""><span>Video</span></a>                        </li>
                                                <li>
                           <a href="/doi-cuoi"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-doicuoi.svg" alt=""><span>Đời Cười</span></a>                        </li>
                                                <li>
                           <a href="/giai-tri"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-giaitri.svg" alt=""><span>Giải Trí</span></a>                        </li>
                                                <li>
                           <a href="/truyen-tranh"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-truyentranh.svg" alt=""><span>Truyện Tranh</span></a>                        </li>
                                                <li>
                           <a href="/zoi-tre"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/title-gioitre.svg" alt=""><span>Zới Trẻ</span></a>                        </li>
                                                <li>
                           <a href="/suc-khoe"><img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon-title/icon-sk-mobile.png" alt=""><span> Sức Khỏe</span></a>                        </li>
                                        </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="assets/slick/slick.js"></script>
    <script>
        $(document).ready(function () {
            $('.section-slider').slick({
                slidesToShow: 2,
                slidesToScroll: 1
            });
            $(".modal-content .slide-tags,.slide-tags").not('.slick-initialized').slick({
                variableWidth: true,
                slidesToScroll: 3
            })
        });
    </script>
</body>

</html>