<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Slick Css -->
    <link rel="stylesheet" href="assets/slick/slick.css">
    <link rel="stylesheet" href="assets/slick/slick-theme.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/detail.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
</head>

<body>
    <header class="header d-flex justify-content-between">
        <h1>
            <a class="logo" href="#">
                <img src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/logo.svg" alt="">
            </a>
        </h1>
        <button class="btn btn-search text-light" type="button" data-toggle="modal" data-target="#searchModal">
            <i class="fas fa-search"></i>
        </button>
    </header>

    <section class="tool-top">
        <ul class="list-tool d-flex justify-content-around">
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalPropensity">
                    <i class="icon icon-trend"></i> Xu hướng
                </a>
            </li>
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalMostView">
                    <i class="icon icon-hot"></i> Nổi bật
                </a>
            </li>
            <li>
                <a href="#" title="" data-toggle="modal" data-target="#contentModalOffer">
                    <i class="icon icon-suggest"></i> Đề xuất
                </a>
            </li>
        </ul>
    </section>
    <section class="main-content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#info">Thông tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#images">Ảnh chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#reports">Reports</a>
            </li>
        </ul>
        <div class="tab-content container">
            <div class="tab-pane active" id="info">
                <div class="row pb-2">
                    <div class="col-4">
                        <img
                            src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/comic-da-cap-huan-hoa-hong-biem-hoa-1592386525-16x9.jpg" />
                    </div>
                    <div class="col-8 d-flex flex-column">
                        <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                        <span><i class="fas fa-phone"></i> Số điện thoại: <a href="tel:0982390731">0982390731</a></span>
                        <span><i class="fas fa-location"></i> 496 dương quãng hàm, p6, gò vấp, tphcm</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-dark">
                            <tbody>
                                <tr>
                                    <th scope="row">Mô tả 1</th>
                                    <td>nội dung mô tả 1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mô tả 2</th>
                                    <td>nội dung mô tả 2</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mô tả 3</th>
                                    <td>nội dung mô tả 3</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mô tả 4</th>
                                    <td>nội dung mô tả 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="images">
                <div class="row">
                    <div class="col-6">
                        <a href="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/comic-da-cap-huan-hoa-hong-biem-hoa-1592386525-16x9.jpg"
                            data-fancybox="gallery" class="d-block mb-2 h-100">
                            <img class="img-fluid img-thumbnail"
                                src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/comic-da-cap-huan-hoa-hong-biem-hoa-1592386525-16x9.jpg">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/mot-vu-tai-nan-giao-thong-khong-dien-hinh-truyen-tranh-vui-1592391537-16x9.jpg"
                            data-fancybox="gallery" class="d-block mb-2 h-100">
                            <img class="img-fluid img-thumbnail"
                                src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/mot-vu-tai-nan-giao-thong-khong-dien-hinh-truyen-tranh-vui-1592391537-16x9.jpg">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/tay-du-remix-15-1592454472-16x9.jpg"
                            data-fancybox="gallery" class="d-block mb-2 h-100">
                            <img class="img-fluid img-thumbnail"
                                src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/tay-du-remix-15-1592454472-16x9.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="reports">
                <label>
                    <button class="btn btn-yellow" data-toggle="modal" data-target="#writeReportModal">
                        <i class="fas fa-pen"></i> Viết Report
                    </button>
                </label>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Someone was <a href="javascript: void(0)" data-toggle="modal"
                            data-target="#reportModal">report</a> for this Lady</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <span class="border-2"></span>
        <div class="container">
            <div class="detail-comment">
                <div class="form-group">
                    <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                </div>
                <a href="javascript:void(0)" class="more-comment" data-toggle="modal" data-target="#viewCommentModal">Xem
                    thêm 5 bình luận</a>
                <ul class="wrapper-comment cm-wrap">
                    <div class="comment" data-id="76781" style="animation-delay: 0s">
                        <span class="comment-avatar" style="background-color: #172b4d">V</span>
                        <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                            <div class="comment-content">
                                <span class="comment-name">
                                    Vikinh
                                </span>
                                <span class="comment-text">
                                    <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                </span>
                            </div>
                            <div class="comment-tool">
                                <span class="like-comment">Thích</span>
                                <span class="rep-comment">Trả lời</span>
                                <span class="time">1 ngày trước</span>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </section>
    <span class="border-1"></span>
    <section class="slider section-slider">
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/17/biem-hoa-my-nuong-ly-di-son-tinh-thuy-tinh-1592369507-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
        <article class="w-185">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex flex-column justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span><i class="fas fa-location"></i> Khu vực: Gò vấp</span>
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><i class="fas fa-bookmark"></i> Đánh dấu</span>
                </div>
            </div>
        </article>
    </section>
    <span class="border-2"></span>
    <section class="container">
        <div class="title-2 my-2">
            <div class="container">
                <h3 class="text-uppercase">Tin Nổi Bật</h3>
            </div>
        </div>
        <article class="w-475">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                </div>
            </div>
        </article>
        <article class="w-475">
            <div class="thumbnail">
                <a href="#">
                    <img
                        src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/16/thumb-giao-duc-truyen-kieu-1592304211-16x9.jpg">
                </a>
            </div>
            <h2>Trả hết, trả hết cho người, trả luôn toán sinh sử địa...</h2>
            <div class="p-3">
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-money-bill"></i> Giá: 500,000vnđ</span>
                    <span>Khu vực: Gò vấp <i class="fas fa-location"></i></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span><i class="fas fa-comment"></i> Bình luận: 5</span>
                    <span><a href="tel:0982390731">0982390731</a> <i class="fas fa-phone"></i></span>
                </div>
            </div>
        </article>
    </section>
    <button class="btn-like btn-outline-primary active">120 <i class="far fa-thumbs-up"></i></button>
    <button class="btn-dislike btn-outline-danger">10 <i class="far fa-thumbs-down"></i></button>
    <footer class="footer">
        <div class="container">
            <div class="text-center mt-3">
                <h5 class="text-uppercase mb-0" style="font-weight: 700;">Tuổi trẻ cười online</h5>
                <ul class="list-logo p-0" style="border-bottom: none;">
                    <li><a href="https://tuoitre.vn/" title="Tin tức, tin nóng, đọc báo điện tử - Tuổi Trẻ Online"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-tto.svg" alt=""></a></li>
                    <li><a href="https://cuoituan.tuoitre.vn/"
                            title="Báo Chí - Tạp Chí - Đọc Báo - Tuổi Trẻ Cuối Tuần - TTO"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-ttct.svg" alt=""></a></li>
                    <li><a href="https://tv.tuoitre.vn/"
                            title="Video tin tức, video tin nóng - Tuổi Trẻ Video Online"><img
                                src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/icon/icon-tttivi.svg" alt=""></a></li>
                </ul>
            </div>
            <a class="logo-footer" href="/" title="Tuổi Trẻ Cười"><img
                    src="https://cdncuoi.tuoitre.vn/ttc/sources/mimg/logo-footer.svg" alt=""></a>
            <ul class="list-social">
                <li><a href="https://www.facebook.com/tuoitrecuoi/" title="Tuổi Trẻ Cười"><i
                            class="icon icon-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/tuoitrecuoi.official/" title="Tuổi Trẻ Cười"><i
                            class="icon icon-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCuZFuykrlN9GUhobrTvP0Bg/videos" title="Tuổi Trẻ Cười"><i
                            class="icon icon-youtube"></i></a></li>
            </ul>
            <dl>
                <dt>HỢP TÁC NỘI DUNG</dt>
                <dd><a href="mailto:cuoi@tuoitre.com.vn"><i class="fas fa-envelope"></i> cuoi@tuoitre.com.vn</a></dd>
            </dl>
            <dl>
                <dt>ĐƯỜNG DÂY NÓNG</dt>
                <dd><a href="tel:0918033133"><i class="fas fa-phone"></i> <strong>0918.033.133 </strong></a>
                </dd>
                <dd><a href="tel:02838440538"><i class="fas fa-phone-square"></i> (84.28) <strong>
                            38.440.538</strong></a></dd>
            </dl>
            <dl>
                <dt>LIÊN HỆ QUẢNG CÁO</dt>
                <dd><a href="tel:0963020919"><i class="fas fa-phone"></i> <strong>0963.0209.19</strong></a>
                </dd>
                <dd><a href="mailto:cuoi@tuoitre.com.vn"><i class="fas fa-envelope"></i>
                        sales.cuoi@tuoitre.com.vn</a>
                </dd>
            </dl>
            <a class="btn-price-ads" href="#" title="">Bảng giá quảng cáo</a>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <address>
                    Số 60A, Hoàng Văn Thụ, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh, Việt Nam
                </address>
                <p>© Copyright 2019 TuoiTreCuoi Online, All rights reserved <br> ® Tuổi Trẻ Cuoi Online giữ bản quyền
                    nội dung trên website này</p>

            </div>

        </div>
    </footer>
    <div class="bottom-bar">
        <a class="btn-news" href="javascript:void(0)" data-toggle="modal" data-target="#contentModal2">Tin Mới Nhất<i
                class="icon icon-back"></i></a>
        <a class="btn-mail" data-toggle="modal" data-target="#sendNewsModal" href="#"><i class="icon icon-mail"></i> Gửi
            tin</a>
        <a class="btn-menu" data-toggle="modal" data-target="#menuModal" href="#" title="">Menu</a>
    </div>
    <div class="modal" id="viewCommentModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content animate-bottom">
                <!-- class gọi animation nè -->
                <div class="modal-header">
                    <h4 class="modal-title"> Bình luận</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="icon icon-close-popup"></i></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="detail-comment">
                            <div class="form-group">
                                <textarea placeholder="Nhập và nhấn enter để gửi" spellcheck="false"></textarea>
                            </div>
                            <a href="javascript:void(0)" class="more-comment">Xem thêm 5 bình luận</a>
                            <ul class="wrapper-comment cm-wrap">
                                <div class="comment" data-id="76781" style="animation-delay: 0s">
                                    <span class="comment-avatar" style="background-color: #172b4d">V</span>
                                    <div class="comment-media" data-cmid="76781" data-author="Vikinh">
                                        <div class="comment-content">
                                            <span class="comment-name">
                                                Vikinh
                                            </span>
                                            <span class="comment-text">
                                                <pre>Nghề của các cô đúng ra không có mang vác nặng ! Nhưng lại nhọc nhằn , trong việc trông giữ , dạy trẻ chứ bộ chơi sao !? Còn phải yêu thương trẻ dù không phải con đẻ ! Gặp kiểu dì ghẻ là hổi ôi cho các bé lun !? Chứ sao !</pre>
                                            </span>
                                        </div>
                                        <div class="comment-tool">
                                            <span class="like-comment">Thích</span>
                                            <span class="rep-comment">Trả lời</span>
                                            <span class="time">1 ngày trước</span>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="reportModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content animate-bottom">
                <!-- class gọi animation nè -->
                <div class="modal-header">
                    <h4 class="modal-title"> Chi tiết report</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="icon icon-close-popup"></i></button>
                </div>
                <div class="modal-body">
                    <div class="report-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi maiores sunt, rem iusto totam
                        odio explicabo obcaecati eos maxime eum doloribus, ipsam, quisquam dolores corrupti rerum
                        aspernatur repellat molestias id.
                    </div>
                    <div class="form-group">
                        <div class="vote-detail">
                            <span>Điểm số chung: </span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Thái độ:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Giao tiếp:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Dịch vụ:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="https://cuoifly.tuoitre.vn/820/0/ttc/r/2020/06/18/biem-hoa-dich-vu-doi-no-chui-1592461703.jpg"
                                data-fancybox="galleryReport">
                                <img class="img-fluid img-thumbnail"
                                    src="https://cuoifly.tuoitre.vn/820/0/ttc/r/2020/06/18/biem-hoa-dich-vu-doi-no-chui-1592461703.jpg">
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/sung-dai-hay-ky-thuat-1592471751-16x9.jpg"
                                data-fancybox="galleryReport">
                                <img class="img-fluid img-thumbnail"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/sung-dai-hay-ky-thuat-1592471751-16x9.jpg">
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/biem-hoa-an-dat-gia-thit-heo-tang-cao-1592468202-16x9.jpg"
                                data-fancybox="galleryReport">
                                <img class="img-fluid img-thumbnail"
                                    src="https://cuoifly.tuoitre.vn/475/297/ttc/r/2020/06/18/biem-hoa-an-dat-gia-thit-heo-tang-cao-1592468202-16x9.jpg">
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://cuoifly.tuoitre.vn/820/0/ttc/r/2020/06/18/biem-hoa-dich-vu-doi-no-chui-1592461703.jpg"
                                data-fancybox="galleryReport">
                                <img class="img-fluid img-thumbnail"
                                    src="https://cuoifly.tuoitre.vn/820/0/ttc/r/2020/06/18/biem-hoa-dich-vu-doi-no-chui-1592461703.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="writeReportModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content animate-bottom">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-pen"></i> Viết report</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="icon icon-close-popup"></i></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="description">MÔ TẢ</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="votePost">ĐÁNH GIÁ CHI TIẾT: </label>
                        <div class="vote-detail">
                            <span>Điểm số chung: </span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Thái độ:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Giao tiếp:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="vote-detail">
                            <span>Dịch vụ:</span>
                            <ul class="rate-star">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>ẢNH REPORTS:</label>
                        <label class="file-container">
                            <input type="file" multiple="" aria-label="" id="reportImages">
                            <span><i class="fas fa-upload"></i> Tải lên ảnh chi tiết</span>
                        </label>
                        <div class="file-preview">
                        </div>
                        <span class="note">* Vui lòng chọn ảnh tải lên để đảm bảo report hợp lệ (chỉ có thể tải tối đa 9 ảnh)</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-yellow">Gửi Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="assets/slick/slick.js"></script>
    <script>
        $(document).ready(function () {
            $('.section-slider').slick({
                slidesToShow: 2,
                slidesToScroll: 1
            });
            $(".modal-content .slide-tags,.slide-tags").not('.slick-initialized').slick({
                variableWidth: true,
                slidesToScroll: 3
            });
            $("#writeReportModal ul.rate-star li").on('click', function() {
                let parentElement = $(this).parents('ul.rate-star');
                let star = $(this).index() + 1;
                parentElement.find('i').removeClass('fas').addClass('far');
                for(let i = 1; i <= star; i++) {
                    parentElement.find('li:nth-child('+ i +')').find('i').removeClass('far').addClass('fas');
                }
            })

            var totalFile = 0,
            filesList = new Array(),
            formDataDelete = function(index) {
                "use strict";
                var keep = filesList;
                keep.splice(index, 1);
                console.log(filesList);
                return filesList = keep;
            },
            imagesPreview = function(input, placeToInsertImagePreview) {
                if (input.files) {
                    var filesAmount = input.files.length;
                    for (let i = 0; i < filesAmount; i++) {
                        var reader = new FileReader();
                        reader.onload = function(event) {
                            let previewImageHtml = `
                                    <div class="file-catcher">
                                        <img src="${event.target.result}">
                                        <span class="close-file-preview"><i class="fas fa-times-circle"></i></span>
                                    </div>
                                `;
                            if (filesList.length < 9) {
                                $(previewImageHtml).appendTo(placeToInsertImagePreview);
                                filesList.push(event.target.result);
                            }
                        };
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $('#reportImages').on('change', function() {
                imagesPreview(this, 'div.file-preview');
            });

            $(document).on('click', '.close-file-preview', function (e) {
                e.preventDefault();
                totalFile--;
                formDataDelete($(this).parents("div.file-preview").index());
                $(this).parents('div.file-catcher').remove();
            });
        });
    </script>
</body>

</html>