article.art-3 {
    margin-bottom: 1.5rem;
    h3 {
        font-size: 20px;
        a {
            color: #000000;
            font-weight: bold;
        }
    }
    .outer-time {
        display: flex;
        margin-bottom: 10px;
        margin-top: 12px;
        .category {
            font-size: 10px;
            color: #B0B0B0;
            margin-right: 10px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .outer-thumb {
        position: relative;
        .thumbs {
            display: block;
            position: relative;
        }
    }
    .slide-tags {
        padding: 11px 0;
        margin-bottom: 11px;
        padding-left: 0;
        overflow: hidden;
        border-bottom: 1px dashed #8F8F8F;
        .slide-tags-item {
            font-size: 12px;
            padding: 0px 5px;
            margin-right: 20px;
            height: 32px;
            line-height: 32px;
            color: #8A0101;
            font-weight: 500;
            background: #E7E7E7;
            border-radius: 30px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
            }
            a {
                color: #000000;
                line-height: 30px;
                padding: 0 10px;
            }
        }
    }
    .info {
        padding: 1rem;
        .info1, .info2{
            display: flex;
            justify-content: space-between;
        }
    }
}