#notificationsModal {
  .modal-body {
    padding: 0;
  }
}
.notifications {
  display: flex;
  flex-direction: column;
  a {
    color: initial;
    &:focus {
      text-decoration: none;
    }
  }
  .notification-item {
    display: flex;
    padding: 6px 30px 5px 12px;
    border-top: 1px solid;
    align-items: center;
    .thumb {
      margin-right: 12px;
      img {
        display: block;
        height: 48px;
        width: 48px;
        border-radius: 50%;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  .notification-item.not-seen {
    background-color: #e1ecf5;
  }
}